<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/bd.png">
    <link rel="stylesheet" href="/css/styles-nobg.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/img/X0903.png">
    </div>

    {{>footer}}
</body>

</html>
